{
"UserMicroserviceUrl": "http://groceryuser-env.eba-hsnanpy3.eu-west-2.elasticbeanstalk.com",
"OrderMicroserviceUrl": "http://GroceryOrder-env.eba-nswnqy2v.eu-west-2.elasticbeanstalk.com",
"ProductMicroserviceUrl": "http://groceryproduct-env.eba-8xicmuwj.eu-west-2.elasticbeanstalk.com",
"SECRET_KEY": "GT6kS1_ascJ2lv8LvL-QIiXGzsBjJvGmFJri5YmKQU6wBamEn3kVjN4YsyTKBTQlH-vz--tLRi-HqToRuHHWeQ=="
}